.mr-42 {
  margin-right: 42px;
}

.ml-42 {
  margin-left: 42px;
}

.ml-48 {
  margin-left: 48px;
}

.mb-54 {
  margin-bottom: 54px;
}

.mtb-33 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.mtb-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}